@import '../../partials/variables';
@import '../../partials/mixins';

.next-video {
    &__ctn{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0 1rem 0 1rem;
    }
    &__img {
        width:100px;
    }
}